.DS_Store

node_modules/
release/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*

build/icon.icns
build/icon.png
build/icon.iconset/
build/trayTemplate.png
build/trayTemplate@2x.png
